---
import Header from "./Header.astro";
import HeaderBrandLink from "./HeaderBrandLink.astro";
---

<Header>
  <nav>
    <HeaderBrandLink />
  </nav>
</Header>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
