---
import { withBase } from "../utils/basePath";
import HeaderItem from "./HeaderItem.astro";
import IconBackChevronLeft from "./IconBackChevronLeft.astro";

interface Props {}

const {} = Astro.props;
---

<a href={withBase("/")} title="Back to root">
  <HeaderItem>
    <IconBackChevronLeft /> back
    <span class="sr-only">to root</span>
  </HeaderItem>
</a>

<style>
  a {
    color: currentColor;
  }
  a,
  a.active {
    text-decoration: none;
  }
</style>
