---
import { withBase } from "../utils/basePath";
import HeaderItem from "./HeaderItem.astro";

interface Props {}

const {} = Astro.props;

const accessibleText = "Back to root";
---

<a href={withBase("/")} title={accessibleText}>
  <HeaderItem>
    <span class="sr-only">{accessibleText}</span>
    &lt; back
  </HeaderItem>
</a>

<style>
  a {
    color: currentColor;
  }
  a,
  a.active {
    text-decoration: none;
  }
</style>
